/* ALL PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: louis cafe;
    src: url(../font/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: squared;
    src: url(../font/square.ttf);
}

.img1 {
    font-family: 'squared';
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(10deg, rgba(255,255,255,1) 25.8%, rgba(43,58,81,1) 26%);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'louis cafe';
    color: white;
    /* Per Animazione elemento */
    overflow-x: hidden;
}

/* MENU */
.menuContainer {
    display: flex;
    justify-content: center;

    position: fixed;
    top: 1rem;
    left: 1rem;

    z-index: 2;
}

.menuSubContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1 {
    width: 3rem;
    position: fixed;
    left: 1.5rem;
    cursor: pointer;
}

.img2 {
    width: 3rem;
    position: fixed;
    right: 1.5rem;
    cursor: pointer;
}

.listMenu {
    display: none;
}

/* TAB MENU */
.tabContainer {
    display: flex;
    /* invisible ;) */
    display: none;
    
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: white;
    color: #2b3a51;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
    animation: openMenu 0.5s linear;
}

@keyframes openMenu {
    0%{height: 0%;}
    100%{height: 100%;}
    
}

.tabSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    padding-top: 60%;
    text-align: center;

    list-style-type: none;
    line-height: 3rem;

    animation: openMenu2 0.7s linear;
}

@keyframes openMenu2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.tabSubContainer li a:link, 
.tabSubContainer li a:visited, 
.tabSubContainer li a:active {
    color: #2b3a51;
    text-decoration: none;
} 

.li1 {
    animation: openLi1 0.2s linear;
}

@keyframes openLi1 {
    0%{margin:-3rem}
    100%{margin:0rem}
}

.li2 {
    animation: openLi2 0.4s linear;
}

@keyframes openLi2 {
    0%{margin:-3rem}
    100%{margin:0rem}
}

.li3 {
    animation: openLi3 0.6s linear;
}

@keyframes openLi3 {
    0%{margin:-3rem}
    100%{margin:0rem}
}

.li4 {
    animation: openLi4 0.8s linear;
}

@keyframes openLi4 {
    0%{margin:-3rem}
    100%{margin:0rem}
}

/* CLOSE MENU */
.closeMenu {
    animation: closeMenu 0.7s linear;
}

@keyframes closeMenu {
    0%{height: 100%;}
    100%{height: 0%;}
}

.lia {
    margin-top: -3rem;
    opacity: 0;
    animation: openLia 0.7s linear;
}

@keyframes openLia {
    0%{margin-top: 0rem; opacity: 1;}
    100%{margin-top: -3rem; opacity: 0;}
}

.lib {
    margin-top: -3rem;
    opacity: 0;
    animation: openLib 0.6s linear;
}

@keyframes openLib {
    0%{margin-top: 0rem; opacity: 1;}
    100%{margin-top: -3rem; opacity: 0;}
}

.lic {
    margin-top: -3rem;
    opacity: 0;
    animation: openLic 0.5s linear;
}

@keyframes openLic {
    0%{margin-top: 0rem; opacity: 1;}
    100%{margin-top: -3rem; opacity: 0;}
}

.lid {
    margin-top: -3rem;
    opacity: 0;
    animation: openLid 0.4s linear;
}

@keyframes openLid {
    0%{margin-top: 0rem; opacity: 1;}
    100%{margin-top: -3rem; opacity: 0;}
}

/* CONTENT */
.whoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0rem 2.5rem;

    line-height: 1.7rem;
}

.whoSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.whoContainer h1 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.picP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.picP img {
    width: 17rem;
    margin: 1rem auto;
    border-radius: 5px;
}

.picP3 {
    color: #2b3a51;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* ANIMATION CONTENT */
.picP1 {
    opacity: 0;
}

.ani1 {
    animation: trans1 0.7s linear;
    opacity: 1;
}

@keyframes trans1 {
    0% {opacity: 0; transform: translate(15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

.picP2 {
    opacity: 0;
}

.ani2 {
    animation: trans2 0.7s linear;
    opacity: 1;
}

@keyframes trans2 {
    0% {opacity: 0; transform: translate(-15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

.picP3 {
    opacity: 0;
}

.ani3 {
    animation: trans3 0.7s linear;
    opacity: 1;
}

@keyframes trans3 {
    0% {opacity: 0; transform: translate(15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

/* FOOTER */
.footerContainer {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.footerSubContainer {
    display: flex;
    justify-content: center;  
    position: relative;
    bottom: 1rem; 
}

h4 {
    color: #2b3a51;
    font-size: 0.9rem;
    font-weight: 900;
}

/* MOBILE 320px */
@media only screen and (max-width: 321px) {

/* MENU */
.img1 {
    width: 2.2rem;
}

.img2 {
    width: 2.2rem;
}

/* CONTENT */
.picP img {
    width: 13rem;
}

/* FOOTER */
h4 {
    font-size: 0.7rem;
}

}

/* TABLET 768px */
@media only screen and (min-width: 767px) {

body {
    background: rgb(255,255,255);
    background: linear-gradient(5deg, rgba(255,255,255,1) 28.8%, rgba(43,58,81,1) 29%);
}

/* MENU */
.img1 {
    width: 3rem;
}

.img2 {
    width: 3rem;
}

/* CONTENT */
.whoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 2.5rem;
    line-height: 1.7rem;
}

.whoSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.whoContainer h1 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.picP {
    display: block;
    line-height: 2.3rem;
    margin: 4rem 0rem;
}

.picP img {
    width: 50%;
    height: 50%;
    margin: 0.5rem 2rem;
    border-radius: 5px;
    float: left;
}

.picP p {
    margin: 0rem 2rem;
}

.picPRev img {
    float: right;
}

.picP3 {
    color: #2b3a51;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* TAB MENU */
.tabContainer {
    font-size: 2.3rem;
    font-weight: 700;

}

.tabSubContainer {
    padding-top: 50%;
    line-height: 4rem;
}

/* CONTENT */
.whoContainer {
    margin: 0rem 3rem;
    line-height: 2rem;
}

/* FOOTER */
h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

}

/* TABLET PLUS 1024px */
@media only screen and (min-width: 1023px) {

/* MENU */
.img1 {
    width: 3.5rem;
}

.img2 {
    width: 3.5rem;
}

/* CONTENT */
.whoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1rem;

    margin: 0rem 2.5rem;

    line-height: 1.7rem;
}

.whoSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.whoContainer h1 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.picP3 {
    padding-bottom: 4rem;
}

/* FOOTER */
h4 {
    position: fixed;
    bottom: 1rem;
    font-size: 1.3rem;
}

}

/* DESKTOP 1366px */
@media only screen and (min-width: 1365px) {

/* MENU */
.img1 {
    width: 2.2rem;
}

.img2 {
    display: none;
}

.listMenu {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    list-style-type: none;
    align-content: center;
    font-weight: 500;
}

.listMenu li {
    margin: 0rem 1.5rem;
}

.listMenu li a:link,
.listMenu li a:visited, 
.listMenu li a:active {
    color: white;
    text-decoration: none;
}

.listMenu li a {
    padding-bottom: 0.3rem;
} 
.listMenu li a:hover {
    font-weight: 700;
    border-bottom: 2px solid white;
}

/* TAB MENU */
.tabContainer {
    display: none;
}

/* CONTENT */
.whoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0rem 2.5rem;

    line-height: 1.7rem;
}

.whoSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.whoContainer h1 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.picP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 2.3rem;

    align-items: center;
    margin: 5rem 4rem;
    margin-bottom: 10rem;
}

.picP p {
    font-size: 0.9rem;
}

.picP2 {
    flex-direction: row-reverse; 
}

.picP img {
    width: 30%;
    height: 30%;
    margin: 1rem auto;
    border-radius: 5px;
}

.picP3 {
    color: #2b3a51;
    font-weight: 600;
    margin-bottom: 3rem;
}

.picP3 img {
    width: 40%;
    height: 40%;   
}

/* ANIMATION CONTENT */
.picP1 {
    opacity: 0;
}

.ani1 {
    animation: trans1 0.7s linear;
    opacity: 1;
}

@keyframes trans1 {
    0% {opacity: 0; transform: translate(15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

.picP2 {
    opacity: 0;
}

.ani2 {
    animation: trans2 0.7s linear;
    opacity: 1;
}

@keyframes trans2 {
    0% {opacity: 0; transform: translate(-15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

.picP3 {
    opacity: 0;
}

.ani3 {
    animation: trans3 0.7s linear;
    opacity: 1;
}

@keyframes trans3 {
    0% {opacity: 0; transform: translate(15rem);}
    100% {opacity: 1; transform: translate(0rem);}
}

/* FOOTER */
h4 {
    position: relative;
    font-size: 0.9rem;
}

}

/* DESKTOP PLUS 1920px */
@media only screen and (min-width: 1919px) {

/* MENU */
.img1 {
    width: 2.7rem;
}

/* CONTENT */
.picP {
    margin-bottom: 15rem;
}

.picP p {
    font-size: 1.3rem;
    line-height: 3rem;
}

.img2 {
    width: 2.7rem;
}

/* FOOTER */
h4 {
    font-size: 1.1rem;
}

}

